.head {
  color: yellow;
}

body {
  background-image: url('help.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.right {
  text-align: right;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}
